<div *ngIf="carts$ | async as allCarts">
  <button
  data-cy="view-invoice-button"
  id="viewInvoiceBtn"
  type="button"
  class="btn btn-primary"
  (click)="invoiceForm.valid ? cartService.openPDF() : ''">
  View Invoice
</button>
  <div id="htmlData">
    <form #invoiceForm="ngForm">
      <div class="container pt-2 mb-5">
        <div class="row">
          <div class="col-md-*">

              <table
                class="table"
                *ngFor="let basket of allCarts; let i = index">
                <thead>
                  <tr>
                    <th id="basketNameTableHeader" width="10%">Basket Name</th>
                    <th id="basketItemsTableHeader" width="20%">Basket Items</th>
                    <th id="priceTableHeader" width="10%">Price</th>
                    <th id="quantityTableHeader" width="10%">Quantity</th>
                    <th id="taxTableHeader" width="10%">Tax</th>
                    <th id="totalAmountTableHeader" width="10%">Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <td style="padding-left: 0.5rem">
                    {{ allCarts[i].name }}
                  </td>
                  <td>
                    <p *ngFor="let product of allCarts[i].products">
                      {{ product.name }}
                    </p>
                  </td>
                  <td>
                    <p *ngFor="let product of allCarts[i].products">
                      {{ product.unitPrice | currency }}
                    </p>
                  </td>

                  <td>
                    <p *ngFor="let product of allCarts[i].products">1</p>
                  </td>

                  <td>
                    <p *ngFor="let product of allCarts[i].products">
                      {{ product | calculateTax: 'computed' | currency }}
                    </p>
                  </td>

                  <td>
                    <p *ngFor="let product of allCarts[i].products">
                      {{ product | calculateTax: 'total' | currency }}
                    </p>
                  </td>
                </tbody>
              </table>

              <div data-cy="totalTaxRow" class="row" *ngIf="invoiceGenerated">
                <div class="pull-right mr-10">
                  <b>Total Tax</b>
                  <div>{{totalTax | currency}}</div>
                </div>
              </div>
              <div data-cy="totalCostRow" class="row pt-2" *ngIf="invoiceGenerated">
                <div class="pull-right mr-10">
                  <b>Total Cost</b>
                  <div>{{totalCost | currency}}</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

